<ion-view>
	<ion-nav-title>
		{{ title }}
	</ion-nav-title>
	<ion-content>
		<!-- A list of news items: -->
		<ion-list>
			<div class="list card" ng-repeat="item in items">
				<a class="item item-icon-left item-text-wrap" href="{{ item.storyUrl }}">
					<i class="icon" ng-class="item.iconClass"></i>
					<h2>{{ item.title }}</h2>
				</a>
				<div class="item">
					<a class="subdued" href="{{ item.url }}">{{ item.url }}</a>
					<div class="padding-top">
						<a class="subdued padding-vertical" href="#/item/{{ item.id }}">
							<i class="icon ion-chatboxes "></i> {{ item.commentCount }} comments
						</a>
						<a class="subdued ">
							{{ item.score }} points by
						</a>
						<a class="subdued" href="#/user/{{ item.by }}">
							<i class="icon ion-person "></i> {{ item.by }}
						</a>
					</div>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>